@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap");
body {
  color: #00171F;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding-bottom: 115px;
}

.center-div {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 24px;
}

.profile__header {
  background: #275DAD;
  padding: 24px;
}
.profile__header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media all and (max-width: 900px) {
  .profile__header-inner {
    flex-wrap: wrap;
  }
}
@media all and (max-width: 900px) {
  .profile__header-details {
    order: 2;
    margin: 0 auto;
  }
}
.profile__email a {
  color: #ffffff;
  margin-left: 6px;
  font-weight: 500;
  text-decoration: none;
}
.profile__social a {
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
}
.profile__social a:last-child {
  margin-left: 6px;
}
.profile__title {
  width: 100%;
  margin-bottom: 12px;
  color: #ffffff;
}
.profile__email {
  margin: 0;
  color: #ffffff;
}
.profile__avatar {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  overflow: hidden;
  margin-bottom: 24px;
}
@media all and (max-width: 900px) {
  .profile__avatar {
    order: 1;
    margin: 0 auto 24px auto;
  }
}
.profile__avatar img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.profile__section {
  padding: 48px 0;
}
.profile__section:nth-child(even) {
  background: #f5f5f5;
}
.profile__section-title {
  margin-bottom: 24px;
  padding-bottom: 12px;
  border-bottom: 3px solid #275DAD;
}
.profile__section-title .bi {
  margin-right: 6px;
  font-size: 18px;
}
.profile__footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background: #ffffff;
  padding: 24px;
  box-shadow: 0px -4px 29px -1px rgba(163, 163, 163, 0.65);
}
.profile__footer-btn {
  border-radius: 50%;
  background: #275DAD;
  color: #ffffff;
  width: 64px;
  height: 64px;
  font-size: 32px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile__footer-btn:not(:last-child) {
  margin-right: 12px;
}
.profile__arrow {
  position: fixed;
  cursor: pointer;
  top: 50%;
  font-size: 64px;
  color: rgba(39, 93, 173, 0.7);
  transform: translateY(-50%);
  border: 0;
  background: none;
}
.profile__arrow:focus, .profile__arrow:hover {
  color: #275DAD;
}
.profile__arrow.left {
  left: 12px;
}
.profile__arrow.right {
  right: 12px;
}

.work-experience {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
.work-experience:not(:last-child) {
  border-bottom: 1px solid gainsboro;
}
@media all and (max-width: 900px) {
  .work-experience {
    flex-direction: column;
  }
  .work-experience:not(:last-child) {
    padding-bottom: 24px;
  }
}
.work-experience__employer {
  font-weight: 500;
}
@media all and (min-width: 900px) {
  .work-experience__employer {
    flex: 0 0 150px;
  }
}
@media all and (min-width: 900px) {
  .work-experience__description {
    flex: 1 1 auto;
    padding: 0 32px;
  }
}
@media all and (min-width: 900px) {
  .work-experience__year {
    flex: 0 0 150px;
  }
}
.work-experience__title {
  font-weight: 500;
}

.skills {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 12px 48px;
}
@media all and (min-width: 900px) {
  .skills {
    grid-template-columns: calc(50% - 24px) calc(50% - 24px);
  }
}

.skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skill progress {
  background: #ffffff;
}
.skill progress[value] {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  width: 150px;
  height: 12px;
}
.skill progress::-webkit-progress-bar {
  background: #ffffff;
}
.skill progress::-webkit-progress-value, .skill progress::-moz-progress-bar {
  background-color: #275DAD !important;
}

.education {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
.education:not(:last-child) {
  border-bottom: 1px solid gainsboro;
  padding-bottom: 24px;
}
@media all and (max-width: 900px) {
  .education {
    flex-direction: column;
  }
}
.education__school {
  font-weight: 500;
}
@media all and (min-width: 900px) {
  .education__school {
    flex: 0 0 150px;
  }
}
@media all and (min-width: 900px) {
  .education__description {
    flex: 1 1 auto;
    padding: 0 32px;
  }
}
@media all and (min-width: 900px) {
  .education__year {
    flex: 0 0 150px;
  }
}

/*# sourceMappingURL=main.css.map */
